body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  padding-left: 5em;
  background-color: black;
  color: white;
}

nav {
  padding: 0em 5em;
  float: right;
}

nav ul li {
  display: inline-block;
  padding-right: 2em;
  text-transform: uppercase;
}

.content {
  display: block;
  text-align: center;
  padding: 2em;
}

.entrybox {
  padding: 2em 5em;
}

footer {
  display: block;
  text-align: center;
  padding-bottom: 2em;
  background-color: black;
  color: white;
  width: 100%;
}

table {
  border: 2px solid blueviolet;
  display: block;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

table th {
  border: 2px solid blueviolet;
}

table tr td {
  border: 1px solid black;
  width: 35vw;
}

button {
  width: 25%;
  background: rgb(240, 106, 17);
  padding: 5px;
  font-size: 18px;
}
